USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedTableType [dbo].[DanhSachTaiSanInput]    Script Date: 15/06/2026 4:30:36 SA ******/
CREATE TYPE [dbo].[DanhSachTaiSanInput] AS TABLE(
	[TenTaiSan] [nvarchar](150) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bước 2: Tạo lại Hàm tính toán chính xác
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (
    @ContractID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @SoTienVayGoc DECIMAL(18,2), @NgayLap DATE, @Deadline1 DATE, @TongPhaiTra DECIMAL(18,2) = 0;
    
    -- Lấy thông tin gốc của hợp đồng
    SELECT @SoTienVayGoc = SoTienVayGoc, @NgayLap = NgayLap, @Deadline1 = Deadline1 
    FROM HopDong WHERE MaHD = @ContractID;

    -- Phòng vệ dữ liệu trống
    IF @SoTienVayGoc IS NULL RETURN 0;
    IF @TargetDate <= @NgayLap RETURN @SoTienVayGoc;

    -- Kịch bản 1: Tính toán theo mốc Lãi đơn (0.5% / ngày)
    IF @TargetDate <= @Deadline1
        SET @TongPhaiTra = @SoTienVayGoc + (@SoTienVayGoc * 0.005 * DATEDIFF(DAY, @NgayLap, @TargetDate));
    -- Kịch bản 2: Tính toán lũy tiến Lãi kép dồn gốc theo ngày
    ELSE
    BEGIN
        DECLARE @BaseLaiKep DECIMAL(18,2) = @SoTienVayGoc + (@SoTienVayGoc * 0.005 * DATEDIFF(DAY, @NgayLap, @Deadline1));
        DECLARE @NgayQuaHan INT = DATEDIFF(DAY, @Deadline1, @TargetDate);
        
        DECLARE @i INT = 1;
        WHILE @i <= @NgayQuaHan
        BEGIN
            SET @BaseLaiKep = @BaseLaiKep * 1.005;
            SET @i = @i + 1;
        END
        SET @TongPhaiTra = @BaseLaiKep;
    END
    RETURN @TongPhaiTra;
END;
GO
/****** Object:  Table [dbo].[BienDongHopDong]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienDongHopDong](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayBienDong] [date] NOT NULL,
	[LoaiBienDong] [nvarchar](50) NOT NULL,
	[SoTienNoGhiNhan] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogThanhToan]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogThanhToan](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[NguoiThu] [nvarchar](100) NOT NULL,
	[SoTienGocConLai] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTaiSan] [nvarchar](150) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[IsSold] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LogThanhToan] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[BienDongHopDong]  WITH CHECK ADD  CONSTRAINT [FK_BienDong_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[BienDongHopDong] CHECK CONSTRAINT [FK_BienDong_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[LogThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_Log_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[LogThanhToan] CHECK CONSTRAINT [FK_Log_HopDong]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD CHECK  (([SoTienVayGoc]>(0)))
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_Logic_ThoiGian] CHECK  (([Deadline2]>[Deadline1] AND [Deadline1]>[NgayLap]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_Logic_ThoiGian]
GO
ALTER TABLE [dbo].[LogThanhToan]  WITH CHECK ADD CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD CHECK  (([GiaTriDinhGia]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPayment]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bước 2: Biên dịch lại Store Procedure xử lý đóng tiền và gợi ý trả đồ
CREATE PROCEDURE [dbo].[sp_ProcessPayment]
    @MaHD INT,
    @SoTienTra DECIMAL(18,2),
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra phòng vệ: Nếu tài sản đã bị bán cưỡng chế thì đóng băng hoàn toàn, không nhận tiền
    IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1)
    BEGIN
        RAISERROR(N'Lỗi nghiệp vụ: Tài sản thuộc hợp đồng này đã bị bán thanh lý cưỡng chế!', 16, 1);
        RETURN;
    END

    -- Tính tổng nợ đến ngày hôm nay và lượng dư nợ còn lại sau khi thanh toán
    DECLARE @TongNoHienTai DECIMAL(18,2) = dbo.fn_CalcMoneyContract(@MaHD, CAST(GETDATE() AS DATE));
    DECLARE @DuNoConLai DECIMAL(18,2) = @TongNoHienTai - @SoTienTra;

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Lưu vết dòng tiền vào hệ thống Nhật ký kiểm toán (Audit Log)
        INSERT INTO LogThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu, SoTienGocConLai)
        VALUES (@MaHD, GETDATE(), @SoTienTra, @NguoiThu, CASE WHEN @DuNoConLai > 0 THEN @DuNoConLai ELSE 0 END);

        -- 2. Đăng ký một phiên biến động nợ mới vào dòng lịch sử hệ thống
        INSERT INTO BienDongHopDong (MaHD, NgayBienDong, LoaiBienDong, SoTienNoGhiNhan)
        VALUES (@MaHD, GETDATE(), N'Biến động nợ', CASE WHEN @DuNoConLai > 0 THEN @DuNoConLai ELSE 0 END);

        -- Trường hợp tất toán toàn bộ hợp đồng
        IF @DuNoConLai <= 0
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThai = N'Đã trả khách' WHERE MaHD = @MaHD;
            PRINT N'Xử lý tất toán thành công. Đã giải phóng kho và hoàn trả toàn bộ tài sản!';
        END
        -- Trường hợp trả góp một phần
        ELSE
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            PRINT N'Ghi nhận nộp tiền trả góp thành công.';
            
            -- Đưa ra danh sách gợi ý tài sản an toàn có thể trả trước cho khách
            DECLARE @TongGiaTriTS DECIMAL(18,2);
            SELECT @TongGiaTriTS = SUM(GiaTriDinhGia) FROM TaiSan WHERE MaHD = @MaHD AND TrangThai = N'Đang cầm cố';

            PRINT N'--- GỢI Ý TÀI SẢN CÓ THỂ HOÀN TRẢ TRƯỚC CHO KHÁCH ---';
            SELECT MaTS, TenTaiSan, GiaTriDinhGia 
            FROM TaiSan 
            WHERE MaHD = @MaHD 
              AND TrangThai = N'Đang cầm cố' 
              AND (@TongGiaTriTS - GiaTriDinhGia) >= @DuNoConLai;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterNewContract]    Script Date: 15/06/2026 4:30:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bước 2: Tạo lại Procedure mới với tham số đầu vào đã tinh gọn
CREATE PROCEDURE [dbo].[sp_RegisterNewContract]
    @TenKH NVARCHAR(100),
    @DienThoai VARCHAR(15),
    @DiaChi NVARCHAR(255),
    @SoTienVayGoc DECIMAL(18,2),
    @DanhSachTS DanhSachTaiSanInput READONLY -- Chỉ nhận danh sách tài sản, không đòi ngày tháng
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @MaKH INT;
        
        -- Hệ thống tự động tính toán mốc thời gian nội bộ
        DECLARE @NgayLap DATE = CAST(GETDATE() AS DATE);
        DECLARE @Deadline1 DATE = DATEADD(MONTH, 1, @NgayLap); -- Tự động gán +1 tháng làm hạn lãi đơn
        DECLARE @Deadline2 DATE = DATEADD(MONTH, 2, @NgayLap); -- Tự động gán +2 tháng làm hạn thanh lý

        -- 1. Kiểm tra khách hàng, nếu chưa có thì tự động tạo mới
        SELECT @MaKH = MaKH FROM KhachHang WHERE DienThoai = @DienThoai;
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (TenKH, DienThoai, DiaChi) 
            VALUES (@TenKH, @DienThoai, @DiaChi);
            SET @MaKH = SCOPE_IDENTITY();
        END

        -- 2. Tạo mới hợp đồng vay với các Deadline tự động gán ở trên
        DECLARE @MaHD INT;
        INSERT INTO HopDong (MaKH, SoTienVayGoc, NgayLap, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, @SoTienVayGoc, @NgayLap, @Deadline1, @Deadline2, N'Đang vay');
        SET @MaHD = SCOPE_IDENTITY();

        -- 3. Đẩy toàn bộ danh mục tài sản thế chấp đi kèm vào kho
        INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriDinhGia, TrangThai, IsSold)
        SELECT @MaHD, TenTaiSan, GiaTriDinhGia, N'Đang cầm cố', 0 FROM @DanhSachTS;

        -- 4. Ghi nhận biến động khởi tạo nợ gốc ban đầu
        INSERT INTO BienDongHopDong(MaHD, NgayBienDong, LoaiBienDong, SoTienNoGhiNhan)
        VALUES (@MaHD, @NgayLap, N'Khởi tạo', @SoTienVayGoc);

        COMMIT TRANSACTION;
        PRINT N'Tiếp nhận hợp đồng và tự động thiết lập các mốc Deadline thành công!';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
